
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    -webkit-print-color-adjust: exact; 
}


:root {
    --ff-primary: 'Lato', sans-serif;
    --ff-display: 'Overlock', cursive;

    --fw-primary-reg: 300;
    --fw-primary-bold: 700;

    --fw-display-reg: 400;
    --fw-display-semibold: 700;


    --clr-light: rgba(255, 255, 255, 0.877);
    --clr-dark: #303030e5;
    --clr-grey: #dbdadab4;
    --clr-accent1: #424240;
    --clr-accent2: #dad1bd;

    --fs-name: 3.0rem;
    --fs-h1: 2.0rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.2rem;
    --fs-body: 0.9rem;
}



body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-primary-reg);
    line-height: 1.6;
}


.resume {
    max-width: 20cm;
    height: auto;
    margin: 0 auto;
}

.resume__top {
    text-align: center;
    background-color: var(--clr-accent1);
    padding: 1em;
}

.resume__name {
    /* text-transform: uppercase; */
    font-family: var(--ff-display);
    font-size: var(--fs-name);
    font-weight: var(--fw-display-reg);
    color: var(--clr-accent2);
    letter-spacing: .1em;
}


.resume__left {
    text-align: center;
    background-color: var(--clr-accent2);
    padding: 1em 1em;
    color: var(--clr-dark);
}



.resume__left .resume-section::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin: 15px 0;
    background-color: var(--clr-accent1);
}


.resume__left .resume-section:last-child::after {
    display: none;
}


.resume-section__title {
    font-size: var(--fs-h2);
    font-weight: var(--fw-primary-bold);
    font-family: var(--ff-display);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 .2em;
}


.contact-list-item {
    display: flex;
    width: max-content;
    margin: 0 auto;
}


.contact-list-item__icon {
    display: block;
    margin-right: .5em;
}

.contact-list-item__data {
    display: block;
}

.list {
    list-style-type: none;
}

.list .list__item {
    line-height: 1.2;
}

.list .list__item + .list__item {
    margin-top: .5em;
}

.inline-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.resume__left .inline-list {
    justify-content: center;
}

.inline-list__item {
    display: block;
    border: .5px solid var(--clr-dark);
    padding: 0 .3em;
    margin: .1em;
}


.resume__right {
    padding: 1em 1em; 
    color: var(--clr-dark);
    background-color: var(--clr-grey);
}

.resume__right .resume-section {
    margin-bottom: 15px;
}


.resume__right .resume-section__title {
    display: flex;
}

.resume__right .resume-section__title:after {
    content: "";
    display: block;
    background-color: var(--clr-accent1);
    flex-grow: 1;
    height: 2px;
    margin-left: .5em;
    align-self: center;
}

.resume__right .resume-section__content {
    position: relative;
    padding-left: 2em;
}

.resume__right .resume-section__content:before {
    content: "";
    display: block;
    height: 100%;
    width: 2px;
    background-color: var(--clr-accent1);
    position: absolute;
    left: 1em;
    top: 0;
}

.work-item__heading {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.work-item__title {
    font-size: var(--fs-h3);
}

.work-item__subtitle{
    line-height: 1;
    margin-bottom: .5em;
}

.work-item + .work-item{
    margin-top: 1em;
}


.work-item .list {
    list-style-type: circle;
    line-height: 1.3;
    padding-left:2em;
}

.link-list__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2px;
    font-size: .8em;
    color: var(--clr-dark);
    border-radius: 5px;

    display: block;
    padding: .2em .5em;
    background-color: rgb(192, 185, 185);
    margin: 0 .1em;
}

.link-list__link:hover {
    background-color:  rgba(192, 185, 185, 0.527);
}


@media (min-width: 500px){
    .resume {
        margin: 2em auto;
        max-width: 20cm;
        max-height: 29cm;

        -webkit-box-shadow: 0px 0px 5px 0px var(--clr-dark);
        -moz-box-shadow: 0px 0px 5px 0px var(--clr-dark);
        box-shadow: 0px 0px 5px 0px var(--clr-dark);
    }

    .resume__content {
        display: flex;
        flex-wrap: nowrap;
    }

    .resume__left {
        max-width: min-content;

        -webkit-box-shadow: 3px 0px 5px -1px var(--clr-dark);
        -moz-box-shadow: 3px 0px 5px -1px var(--clr-dark);
        box-shadow: 3px 0px 5px -1px var(--clr-dark);
    }

    .resume__left .resume-section__title {
        white-space: nowrap;
    }
}